.loader{
  background: #ffffffdb;
  height: calc(100vh - 80px);
  top: 80px;
  &__content{
    text-align: center;
  }
  &__svg{
    background: url('../../assets/img/loader_1.svg') no-repeat center / 100%;
    height: 100px;
    width: 110px;
  }
}

// @media screen and (max-width: 1200px) {
//   .loader{
//     width: calc(100% - 100px);
//     min-height: calc(100vh - 118px);
//     border-radius: 0;
//   }
// }

// @media screen and (max-width: 748px) {
//   .loader{
//     width: 100%;
//     min-height: 100%;
//   }
// }