@import url('https://fonts.googleapis.com/css?family=Muli:300,300i,400,400i,600&display=swap');
@import "./normalize";
@import "./helpers";
@import "./colors";
@import "./mixins";

body{
  font-family: 'Muli', sans-serif;
  background-color: $gray;
  color: $dark;

  .wrapper{
    max-width: 640px;
    margin: 0 auto;
    padding: 0 20px;
  }

  .page{
    min-height: calc(100vh - 118px);
    padding-top: 140px;

    &__survey{
      margin-bottom: 80px;
      min-height: calc(100vh - 198px);
    }
    
    &__results{
      .results-restart-button{
        margin: 20px 0 80px;
      }
    }

    &__title{
      margin-bottom: 20px;
    }
  }

  .logo{
    background: url('../img/logo.svg') no-repeat center / 100%;
    height: 25px;
    width: 90px;
    display: block;
  }

  // Button
      .button{
        @include bg-blue-gradient;
        border: 0;
        padding: 20px;
        font-weight: 600;
        font-size: 12px;
        border-radius: 4px;
        cursor: pointer;
        transition: box-shadow .2s ease-in-out;
        text-transform: uppercase;
        min-width: 200px;
        position: relative;

        user-select: none; /* supported by Chrome and Opera */
        -webkit-user-select: none; /* Safari */
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */

        &:active{
          opacity: 0.8;
        }

        &:hover{
          @include shadow-blue;
        }

        &__text{
          position: relative;
          z-index: 1;
        }

        &__icon{
          &:before{
            content: '';
            position: absolute;
            width: 20px;
            height: 20px;
            top: 0;
            bottom: 0;
            margin: auto;
            right: 20px;
            opacity: 0.8;
          }
        }

        &__arrow{
          &:before{
            background: url('../img/arrow.svg') no-repeat center 0 / 15px;
            height: 10px;
          }
        }

        &__reload{
          &:before{
            background: url('../img/reload.svg') no-repeat center / 14px;
            height: 20px;
            transform: rotate(180deg);
          }
        }

        &__send{
          @include bg-red-gradient;
          &:before{
            background: url('../img/send.svg') no-repeat center 0 / 17px;
          }
          &:hover{
            @include shadow-red;
          }
          &[data-active='false']{
            &:before{
              background-position: center;
            }
          }
        }

        &__transp{
          background: transparent;
          color: $blue;
          border: 1px solid $blue;
          &:before{
            background: url('../img/arrow.svg') no-repeat center -27px / 15px;
          }
          &:hover{
            @include shadow-blue;
          }
        }

        &--to-rigth{
          text-align: right;
          &.button__arrow{
            &:before{
              right: auto;
              left: 20px;
              transform: rotate(180deg)
            }
          }
        }

        &[data-active='false']{
          color: $dark_gray;
          border: 1px solid $dark_gray;
          background: transparent;
          cursor: default;
          &:before{
            background-position: center;
          }
          &:hover{
            box-shadow: none;
          }
        }
      }
  // .Button
    
  // Profile
    .profile{
      &__username{
        margin-right: 15px;
      }
      &__photo{
        height: 40px;
        width: 40px;
      }
    }
  // .Profile
  
  // Like Button
    .like-buttons{
      max-width: 300px;
      width: 100%;
      margin: 0 auto;
    }
    .like-button{
      background: transparent;
      height: 80px;
      width: 80px;
      border: 1px solid $medium_gray;
      cursor: pointer;
      border-radius: 4px;
      transition: all 0.2s ease-in-out;

      &__icon{
        background: url('../img/like.svg') no-repeat center 3px / 35px transparent;
        height: 40px;
        width: 40px;
        display: block;
        margin: auto;
      }

      &__dislike{
        .like-button__icon{
          transform: rotate(180deg);
        }
      }

      &[data-active='true']{
        border-color: $blue;
        box-shadow: 0 0 0px 2px #383ffe4f;
        background-color: $white;
        .like-button__icon{
          background-position: center -42px;
        }
      }
    }
  // .Like Button
}

@media screen and (max-width: 480px) {
  body{
    .page{
      min-height: calc(100vh - 158px);
      &__results{
        .no-results{
          text-align: center;
        }
      }
    }
    
    .container{
      min-height: calc(100vh - 240px);
      box-sizing: initial;
    }

    .button{
      width: 100%;
    }
    
    .like-button{
      &__icon{
        background-size: 30px;
      }

      &[data-active='true']{
        .like-button__icon{
          background-position: center -35px;
        }
      }
    }
  }
}