.page-home{
  &__wrapper{
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
  }

  &__title{
    font-size: 32px;
    line-height: 1.4;
  }
  
  .logo{
    margin-bottom: 10px;
    width: 200px;
    height: 60px;
  }

  &__subtitle{
    margin: 60px 0 80px;
  }

  &__challenge-text{
    margin-bottom: 80px;
  }
}

@media screen and (max-width: 480px){
  .page-home{
    .logo{
      width: 120px;
      height: 30px;
      margin-bottom: 40px;
    }

    &__title{
      font-size: 26px;
      width: 220px;
    }

    &__subtitle{
      margin: 40px 0 60px;
    }

    &__challenge-text{
      font-size: 20px;
      margin-bottom: 60px;
    }
  } 
}