.main-footer{
  padding: 40px 0;
}

@media screen and (max-width: 680px) {
  .main-footer{
    .wrapper{
      flex-direction: column;
      align-items: center;
    }
    .logo-copyright{
      align-items: center;
      margin-bottom: 30px;
    }
  }
}