@import "../../assets/scss/colors";

.question{
  height: 440px;
  margin: 80px 0 80px;
  padding-bottom: 80px;
  transition: all 0.2s ease-in-out;
  display: none;
  &[data-visible='true']{
    display: flex;
  }
  &:after{
    content: '';
    position: absolute;
    bottom: 0;
    height: 1px;
    width: 100%;
    background-image: linear-gradient(to right, transparent, $medium_gray, transparent);
  }
  &__description{
    max-width: 480px;
    margin: 0 auto;
  }
}

.nav-message{
  top: -40px;
}

@media screen and (max-width: 680px) {
  .nav-buttons{
    width: 100%;
    .button{
      min-width: initial;
      width: calc(50% - 40px);
    }
  }
}

@media screen and (max-width: 480px) {
  .question{
    height: auto;
    min-height: calc(100vh - 380px);
    margin: 0 0 80px;
    padding-bottom: 80px;

    &__title{
      font-size: 20px;
    }
    &__description{
      margin-bottom: 40px;
    }
  }

  .nav-message{
    top: 75px;
  }

  .nav-buttons{
    .current-survey{
      position: absolute;
      left: 0;
      top: -25px;
    }
    .button{
      width: calc(50% - 10px);
    }
  }
}