@import '../../assets/scss/colors';
@import '../../assets/scss/mixins';

.answer{
  border: 1px solid $light_gray;
  margin-bottom: 20px;

  &__info{
    width: calc(100% - 60px);
  }

  &__question{
    margin: 5px 0 6px;
    line-height: 1.4;
  }

  &__check{
    height: 22px;
    width: 22px;
    background: url(../../assets/img/checkmark.svg) no-repeat center / 8px $blue;
    &[data-ok='false']{
      background: url(../../assets/img/cross.svg) no-repeat center / 8px $red; 
    }
  }
}

@media screen and (max-width: 480px) {
  .answer{
    &__info{
      width: calc(100% - 40px);
    }
    &__question{
      font-size: 14px;
    }
  }
}